################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Azure.WebAPI/obj
/AzureADAPI/bin/Debug/netcoreapp3.1
/AzureADAPI/obj
/.vs/AzureADAPI
